@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #e7916a;
}
::-webkit-scrollbar
{
    background-color: #111;
    width: 15px;
}
::-webkit-scrollbar-thumb
{
    background-color: #fc5a6d;
    border-radius: 20px;
    border: 5px solid #000;
}
/* Header Section Start  */
header
{
    position: relative;
    width: 100%;
    height: 15vh;
    padding: 0px 250px;
    background: url("../images/headerbg.jpeg");
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 25, 14, 0.522);
}
header .logo
{
    z-index: 1000;
    display: flex;
    justify-content: center;
    width: 50%;
}
header .searchBar
{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
}
header .searchBar .searchbox
{
    display: flex;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.391);
    border-radius: 2px;
    padding: 8px 5px;
    height: 5vh;
}
header .searchBar .searchbox input
{
    width: 85%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
    background-color: transparent;
    color: #fff;
}
header .searchBar .searchbox input::placeholder
{
    color: rgba(255, 255, 255);
    letter-spacing: 1px;
}
header .searchBar .searchbox button
{
    width: 35px;
    height: 30px;
    background-color:  rgb(238, 90, 63);
    color: #fff;
    vertical-align: middle;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
}
/* Header Section End  */

/* Navigation Section Start  */
nav
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: rgb(238, 90, 63);
}
nav ul
{
    display: flex;
    height: 100%;
}
nav ul li
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin-left: 80px;
    height: 100%;    
    transition-duration: 0.3s;
}
nav ul li:hover
{
    background-color: #fff;
}
nav ul li:hover a
{
    color: #fc5a6d;
}
nav ul li a 
{
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
    padding: 5px 10px;
    color: #fff;
    transition-duration: 0.3s;
}
/* Navigation Section End  */

/* Banner Section Start  */
.banner
{
    position:center;
    width: 100%;
    height: 90vh;
    background-image: url("../images/bannerbg.jpg");
    background-size: cover;
    background-position: 0px -100px;
    opacity: 0.8;
}
.banner::before
{
    content: "";
    position:absolute;
    width: 100%;
    height: 90%;
    bottom: 30;
    left: 0;
    background-color: rgba(30, 8, 3, 0.497);
}
.banner .bannerContent
{
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    /* border: 1px solid #fff; */
    z-index: 1000;
    padding: 10px;
    text-align: center;
}
.banner .bannerContent h2
{
    font-family:'Splash', cursive;
    font-weight:50px;
    color: rgb(246, 78, 49);
    font-size: 50px;
    letter-spacing: 3px;
    
    
}
.banner .bannerContent h1
{
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    font-size: 4em;
    letter-spacing: 3px;
    font-weight: 400;
    text-shadow: 0 0 20px #000;
}
.banner .bannerContent p
{
    color: #fff;
    margin-top: 10px;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    
}
.banner .bannerContent .bannerBtn
{
    padding: 15px 30px;
    margin-top: 30px;
    background-color: rgb(238, 90, 63);
    color: white;
    font-family:'Work Sans', sans-serif;
    font-weight: 600px;
    font-size: 1.2em;
    border: none;
    border-radius: 20px;
    transition-duration: 0.2s;
    margin-right: 30px;
    box-shadow: 5px 5px 10px black;

}


.banner .bannerContent .bannerBtn:hover{

    background-color: white;
    color:rgb(242, 54, 21);
    cursor:pointer;
    font-style:bold;
    box-shadow: 5px 5px 10px black;
    
}
.banner .bannerContent .bannerBtn:active{

    background-color: rgb(251, 38, 0);
}
/* Banner Section End   */